{% extends "registration.html" %} {% load static %} {% block css %}
<!-- <link href="{% static 'css/login.css' %}" rel="stylesheet"> -->
{% endblock css %} {% block divheader %}

<div
  id="header-carousel"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image"> -->
      <div class="auth-page-wrapper pt-5">
        <!-- page content -->
        <div class="auth-page-content">
          <!-- <div class="container"> -->
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="card mt-5 login-bg">
                <div class="card-body p-4">
                  {% if message %}
                  <h4
                    id="alrt"
                    class="alert {{ message.tags }} alert-warning"
                    aria-hidden="true"
                    role="alert"
                  >
                    {{ message }}
                  </h4>
                  {% endif %} {% if messages %} {% for message in messages %}
                  <h4
                    id="alrt"
                    class="alert {{ message.tags }} alert-warning"
                    aria-hidden="true"
                    role="alert"
                  >
                    {{ message }}
                  </h4>
                  {% endfor %} {% endif %}
                  <div class="text-center">
                    <div class="d-inline-block auth-logo">
                      <img
                        src="{% static 'img/recycle-symbol.png' %}"
                        alt="JSLPS image"
                        height="80"
                      />
                    </div>
                    <h3 class="text-dark mt-3">Đổi Mật Khẩu</h3>
                  </div>

                  <div class="p-2 mt-3">
                    <form method="post">
                      {% csrf_token %} {{ form.as_p }}

                      <div class="mt-4">
                        <input
                          type="submit"
                          name="btnlogin"
                          value="Xác nhận"
                          id="btnlogin"
                          class="btn btn-success w-100"
                        />
                      </div>
                    </form>
                  </div>
                </div>
                <!-- card body -->
              </div>
              <!-- card -->
            </div>
          </div>
          <!-- row -->
          <!-- </div> -->
          <!-- container -->
        </div>
        <!-- end page content -->
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>
{% endblock divheader %}
