{% extends "registration.html" %} {% load static %} {% block title %}
<title>Smart Trash - Waste Treatment Company</title>
{% endblock title %} {% block divheader %}
<div class="row py-5">
  <div class="col-12 pt-lg-5 mt-lg-5 text-center">
    {% if message %}
    <h1 class="display-4 text-white animated zoomIn">{{message}}</h1>
    {% else %}
    <a class="h5 text-white">Vui Lòng Nhập Email Vào Ô Dưới Đây:</a>
    {% endif %}

    <br />
    <br />
    <form method="POST" action="{% url 'send_code_reset' %}">
      {% csrf_token %}
      <input type="text" name="email" placeholder="Nhập email vào đây" />

      <button class="btn btn-success" type="submit">Xác nhận</button>
    </form>
  </div>
</div>

{% endblock divheader %}
