{% extends "registration.html" %} {% load static %} {% block divheader %}
<div
  id="header-carousel"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image"> -->
      <div class="auth-page-wrapper pt-5">
        <!-- page content -->
        <div class="auth-page-content">
          <!-- <div class="container"> -->
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="card mt-5 login-bg">
                <div class="card-body p-4">
                  {% if messages %} {% for message in messages %}
                  <h4
                    id="alrt"
                    class="alert {{ message.tags }} alert-warning"
                    aria-hidden="true"
                    role="alert"
                  >
                    {{ message }}
                  </h4>
                  {% endfor %} {% endif %}
                  <div class="text-center">
                    <div class="d-inline-block auth-logo">
                      <img
                        src="{% static 'img/recycle-symbol.png' %}"
                        alt="JSLPS image"
                        height="80"
                      />
                    </div>
                    <h3 class="text-dark mt-3">Tạo Tài Khoản</h3>
                  </div>

                  <div class="p-2 mt-3">
                    <form method="post">
                      {% csrf_token %}
                      <div class="mb-3">
                        <label for="username" class="form-label"
                          >Tên Đăng Nhập</label
                        >
                        <input
                          name="username"
                          type="text"
                          id="username"
                          class="form-control"
                          placeholder="Enter username"
                        />
                      </div>

                      <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input
                          name="email"
                          type="email"
                          id="email"
                          class="form-control"
                          placeholder="Enter email"
                        />
                      </div>

                      <div class="mb-3">
                        <label class="form-label" for="password1"
                          >Mật Khẩu</label
                        >
                        <div
                          class="position-relative auth-pass-inputgroup mb-3"
                        >
                          <input
                            name="password1"
                            type="password"
                            id="password1"
                            class="form-control pe-5 password-input"
                            placeholder="Enter password"
                          />
                          <button
                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                            type="button"
                            id="password-addon"
                          >
                            <i class="ri-eye-fill align-middle"></i>
                          </button>
                        </div>
                      </div>

                      <div class="mb-3">
                        <label class="form-label" for="password2"
                          >Xác Nhận Mật Khẩu</label
                        >
                        <div
                          class="position-relative auth-pass-inputgroup mb-3"
                        >
                          <input
                            name="password2"
                            type="password"
                            id="password2"
                            class="form-control pe-5 password-input"
                            placeholder="Enter password"
                          />
                          <button
                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                            type="button"
                            id="password-addon"
                          >
                            <i class="ri-eye-fill align-middle"></i>
                          </button>
                        </div>
                      </div>

                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="auth-remember-check"
                        />
                        <label
                          class="form-check-label"
                          for="auth-remember-check"
                          >Nhớ Mật Khẩu</label
                        >
                        <!-- <a href="#" class="text-muted float-end">Forgot password?</a> -->
                      </div>

                      <div class="mt-4">
                        <input
                          type="submit"
                          name="btnsignup"
                          value="Sign Up"
                          id="btnsignup"
                          class="btn btn-success w-100"
                        />
                      </div>
                    </form>
                  </div>
                </div>
                <!-- card body -->
              </div>
              <div class="text-uppercase">
                <a style="color: #05c656" href="{% url 'login1' %}"
                  >Đã Có Tài Khoản</a
                >
              </div>
              <!-- card -->
            </div>
          </div>
          <!-- row -->
          <!-- </div> -->
          <!-- container -->
        </div>
        <!-- end page content -->
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>

<!-- <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 900px;">
                <form action="" method="post">
                  {% csrf_token %} 
                  <h3 class="display-1 text-white mb-md-4 animated zoomIn">Sign Up</h3>
                  <div>
                    <label class="text-white text-uppercase mb-3 animated slideInDown" for="username">Username</label>
                    <input type="text" placeholder="Enter Username" id="username" name="username">
                  </div>
                  <div>
                    <label class="text-white text-uppercase mb-3 animated slideInDown" for="email">Email</label>
                    <input type="email" placeholder="Email" name="email" id="email">
                  </div>
                  <div>
                    <label class="text-white text-uppercase mb-3 animated slideInDown" for="password1">Password</label>
                    <input type="password" placeholder="Password" id="password1" name="password1">
                  </div>
                  <div>
                    <label class="text-white text-uppercase mb-3 animated slideInDown" for="password2">Confirm Password</label>
                    <input type="password" placeholder="Confrom Password" id="password2" name="password2">
                  </div>
                  <p></p>
                  <button type="submit" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Sign Up</button>
                  <a href="{% url 'login1' %}" >I have already account</a>
              </div>
          </div>
      </div>
  </div>
</div> -->

{% endblock divheader %}
