{% extends "navbar.html" %}

{% load static %}

{% block divheader %}
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Về Chúng Tôi</h1>
            <a href="{% url 'index' %}" class="h5 text-white">Trang Chủ</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Về Chúng Tôi</a>
        </div>
    </div>
{% endblock divheader %}
    
    
{% block content %}

    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-success text-uppercase">Về Chúng Tôi</h5>
                        <h1 class="mb-0">Giải Pháp Vứt Rác Tốt Nhất Với Các Thành Viên Có Hơn 4 Kinh Nghiệm Về IT</h1>
                    </div>
                    <p class="mb-4">Chúng tôi sẽ mang đến cho bạn những phương pháp tốt nhất để có thể xử lý rác thải trong cuộc sống của bạn . Có thể giúp bạn thay đổi thói quen vứt rác của mình để chúng ta có thể chung tay bảo vệ môi trường sống của chính chúng ta.</p>
                    <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="fa fa-check text-success me-3"></i>24/12 Hỗ Trợ</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-success me-3"></i>Đội Ngũ Thành Viên Chuyên Nghiệp</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-success me-3"></i>Giải Quyết Vấn Đề Nhanh Chóng</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="bg-success d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Gọi Để Hỏi Bất Kỳ Câu Hỏi Nào</h5>
                            <h4 class="text-success mb-0">+84 919 56 21 82</h4>
                        </div>
                    </div>
                    <a href="" class="btn btn-success py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Tham Gia Với Chúng Tôi</a>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Team Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-success text-uppercase">Thành Viên</h5>
                <h1 class="mb-0">Các Thành Viên Tạo Nên Trang Web Này</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-11.jpg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-success">Nguyễn Trọng Hiếu</h4>
                            <p class="text-uppercase m-0">AI ENGINNEER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-21.jpg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-success">Trương Minh Thống</h4>
                            <p class="text-uppercase m-0">LEADER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-31.jpg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-success">Trương Nguyễn Đăng Khương</h4>
                            <p class="text-uppercase m-0">DESIGNATION</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-41.jpg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-success">Thân Văn Việt</h4>
                            <p class="text-uppercase m-0">DEVELOPMENT</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/team-51.jpg' %}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-success btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-success">Trần Nhật Vĩ</h4>
                            <p class="text-uppercase m-0">DATA ANALYST</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


{% endblock content %}