{% extends "base.html" %} {% load static %} {% block content %}

<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
  <div class="container py-5 pt-lg-0">
    <div class="row gx-0">
      <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
        <div
          class="bg-success shadow d-flex align-items-center justify-content-center p-4"
          style="height: 150px"
        >
          <div
            class="bg-white d-flex align-items-center justify-content-center rounded mb-2"
            style="width: 60px; height: 60px"
          >
            <i class="fa fa-users text-success"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-white mb-0">Happy Clients</h5>
            <h1 class="text-white mb-0" data-toggle="counter-up">
              {{num_custommer}}
            </h1>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
        <div
          class="bg-light shadow d-flex align-items-center justify-content-center p-4"
          style="height: 150px"
        >
          <div
            class="bg-success d-flex align-items-center justify-content-center rounded mb-2"
            style="width: 60px; height: 60px"
          >
            <i class="fa fa-check text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-success mb-0">Đối Tác</h5>
            <h1 class="mb-0" data-toggle="counter-up">{{num_partner}}</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="bg-success shadow d-flex align-items-center justify-content-center p-4"
          style="height: 150px"
        >
          <div
            class="bg-white d-flex align-items-center justify-content-center rounded mb-2"
            style="width: 60px; height: 60px"
          >
            <i class="fa fa-award text-success"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-white mb-0">Điểm Thưởng Hiện Có</h5>
            <h1 class="text-white mb-0" data-toggle="counter-up">{{user.customer.point}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Facts Start -->

<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-7">
        <div class="section-title position-relative pb-3 mb-5">
          <h5 class="fw-bold text-success text-uppercase">Về Chúng Tôi</h5>
          <h2 class="mb-0">
            Giải Pháp Vứt Rác Tốt Nhất Với Các Thành Viên Có Hơn 4 Kinh Nghiệm
            Về IT
          </h2>
        </div>
        <p class="mb-4">
          Chúng tôi là một công ty chuyên về giải pháp vứt rác thông minh. Với
          đội ngũ chuyên gia giàu kinh nghiệm và đam mê bảo vệ môi trường, chúng
          tôi cam kết mang đến các sản phẩm và dịch vụ chất lượng cao để giải
          quyết vấn đề rác thải hiệu quả. Sứ mệnh của chúng tôi là xây dựng một
          tương lai bền vững thông qua việc tối ưu hóa quản lý rác thải và tạo
          ra một môi trường sống trong lành cho cộng đồng.
        </p>
        <div class="row g-0 mb-3">
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
            <h5 class="mb-3">
              <i class="fa fa-check text-success me-3"></i>24/12 Hỗ Trợ
            </h5>
            <h5 class="mb-3">
              <i class="fa fa-check text-success me-3"></i>Đội Ngũ Thành Viên
              Chuyên Nghiệp
            </h5>
          </div>
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
            <h5 class="mb-3">
              <i class="fa fa-check text-success me-3"></i>Giải Quyết Vấn Đề
              Nhanh Chóng
            </h5>
          </div>
        </div>
        <div
          class="d-flex align-items-center mb-4 wow fadeIn"
          data-wow-delay="0.6s"
        >
          <div
            class="bg-success d-flex align-items-center justify-content-center rounded"
            style="width: 60px; height: 60px"
          >
            <i class="fa fa-phone-alt text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="mb-2">Gọi Để Hỏi Bất Kỳ Câu Hỏi Nào</h5>
            <h4 class="text-success mb-0">+84 919 56 21 82</h4>
          </div>
        </div>
        <a
          href=""
          class="btn btn-success py-3 px-5 mt-3 wow zoomIn"
          data-wow-delay="0.9s"
          >Tham Gia Với Chúng Tôi</a
        >
      </div>
      <div class="col-lg-5" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.9s"
            src="{% static 'img/picture/pin.png' %}"
            style="object-fit: cover"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-success text-uppercase">
        Lý do bạn bên sử dụng công nghệ của chúng tôi
      </h5>
      <h2 class="mb-0">Chúng tôi ở đây để phát triển doanh nghiệp của bạn theo cấp số nhân</h2>
    </div>
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="row g-5">
          <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
            <div
              class="bg-success rounded d-flex align-items-center justify-content-center mb-3"
              style="width: 60px; height: 60px"
            >
              <i class="fa fa-cubes text-white"></i>
            </div>
            <h4>Công nghệ tiên tiến</h4>
            <p class="mb-0">
              Chúng tôi sử dụng công nghệ hiện đại nhất để phát triển các sản
              phẩm vứt rác thông minh. Điều này giúp tối ưu hóa quy trình thu
              gom, xử lý và tái chế rác thải, mang lại lợi ích lớn cho môi
              trường và cộng đồng.
            </p>
          </div>
          <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
            <div
              class="bg-success rounded d-flex align-items-center justify-content-center mb-3"
              style="width: 60px; height: 60px"
            >
              <i class="fa fa-award text-white"></i>
            </div>
            <h4>Tiết kiệm thời gian và công sức</h4>
            <p class="mb-0">
              Hệ thống tự động của chúng tôi giúp tiết kiệm thời gian và công
              sức cho việc quản lý rác thải. Các sản phẩm của chúng tôi được
              thiết kế để đơn giản hóa quy trình thu gom và giảm thiểu khó khăn
              cho người sử dụng.
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 wow zoomIn"
        data-wow-delay="0.9s"
        style="min-height: 350px"
      >
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.1s"
            src="{% static 'img/picture/reason.jpg' %}"
            style="object-fit: cover"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row g-5">
          <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
            <div
              class="bg-success rounded d-flex align-items-center justify-content-center mb-3"
              style="width: 60px; height: 60px"
            >
              <i class="fa fa-users-cog text-white"></i>
            </div>
            <h4>Bảo vệ môi trường</h4>
            <p class="mb-0">
              Chúng tôi cam kết đóng góp vào bảo vệ môi trường bằng cách giảm
              lượng rác thải sản sinh và thúc đẩy tái chế. Sản phẩm vứt rác
              thông minh của chúng tôi đáp ứng các tiêu chuẩn bền vững và giúp
              giảm tác động tiêu cực lên môi trường.
            </p>
          </div>
           
            <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                <div class="bg-success rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px">
                    <i class="fa fa-phone-alt text-white"></i>
                </div>
                <h4>Hỗ trợ 24/7</h4>
                <p class="mb-0">
                    Chúng tôi cam kết cung cấp hỗ trợ khách hàng liên tục 24 giờ mỗi
                    ngày, 7 ngày mỗi tuần. Đội ngũ chăm sóc khách hàng của chúng tôi
                    sẵn sàng giải đáp mọi câu hỏi, xử lý các yêu cầu và cung cấp hỗ
                    trợ kỹ thuật. Bất kể bạn gặp phải vấn đề nào, chúng tôi sẽ luôn
                    sẵn lòng giúp đỡ.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features End -->

    <!-- Service Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container py-5">
        <div
          class="section-title text-center position-relative pb-3 mb-5 mx-auto"
          style="max-width: 600px"
        >
          <h5 class="fw-bold text-success text-uppercase">Dịch vụ của chúng tôi</h5>
          <h2 class="mb-0">
            Dịch vụ tùy chỉnh luôn sẵn lòng hỗ trợ giúp cho môi trường làm việc của bạn sạch hơn
          </h2>
        </div>
        <div class="row g-5">
          <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon">
                <i class="fa fa-shield-alt text-white"></i>
              </div>
              <h4 class="mb-3">Giải pháp hệ thống vứt rác thông minh</h4>
              <p class="m-0">
                Chúng tôi cung cấp các giải pháp toàn diện về hệ thống vứt rác thông minh cho các cơ quan, doanh nghiệp và cộng đồng
              </p>
              <a class="btn btn-lg btn-success rounded" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon">
                <i class="fa fa-search text-white"></i>
              </div>
              <h4 class="mb-3">Tư vấn và triển khai</h4>
              <p class="m-0">
                Đội ngũ chuyên gia của chúng tôi sẽ tư vấn và hỗ trợ khách hàng trong việc chọn lựa giải pháp vứt rác thông minh phù hợp với yêu cầu của họ
              </p>
              <a class="btn btn-lg btn-success rounded" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
            <div
              class="position-relative bg-success rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5"
            >
              <h3 class="text-white mb-3">Hỗ trợ kỹ thuật và bảo trì</h3>
              <p class="text-white mb-3">
                Chúng tôi cung cấp dịch vụ hỗ trợ kỹ thuật liên tục và bảo trì hệ thống vứt rác thông minh.
              </p>
              <h4 class="text-white mb-0">(+84) 919 56 21 82</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- Quote Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container py-5">
        <div class="row g-5">
          <div class="col-lg-7">
            <div class="section-title position-relative pb-3 mb-5">
              <h5 class="fw-bold text-success text-uppercase">
                Bạn đang quan ngại điều gì.
              </h5>
              <h2 class="mb-0">
                Điền thông tin của bạn và liên lạc với chúng tôi để nhận tư vấn miễn phí!
              </h2>
            </div>
            <div class="row gx-3">
              <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                <h5 class="mb-4">
                  <i class="fa fa-reply text-success me-3"></i>Phản hồi tối đa sau 24h
                </h5>
              </div>
              <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                <h5 class="mb-4">
                  <i class="fa fa-phone-alt text-success me-3"></i>Hỗ trợ qua điện thoại 24/7
                </h5>
              </div>
            </div>
            <p class="mb-4">
                Đầu tư vào một hệ thống vứt rác thông minh là một quyết định thông minh và bền vững. Bạn sẽ không chỉ giảm thiểu tác động tiêu cực lên môi trường mà còn tiết kiệm thời gian, công sức và tài nguyên. Hệ thống vứt rác thông minh của chúng tôi sẽ mang lại lợi ích dài hạn cho bạn và cộng đồng của bạn.
            </p>
            <div
              class="d-flex align-items-center mt-2 wow zoomIn"
              data-wow-delay="0.6s"
            >
              <div
                class="bg-success d-flex align-items-center justify-content-center rounded"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-phone-alt text-white"></i>
              </div>
              <div class="ps-4">
                <h5 class="mb-2">Hỏi bất cứ câu hỏi nào với</h5>
                <h4 class="text-success mb-0">+84 919 56 21 82</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div
              class="bg-success rounded h-100 d-flex align-items-center p-5 wow zoomIn"
              data-wow-delay="0.9s"
            >
              <form>
                <div class="row g-3">
                  <div class="col-xl-12">
                    <input
                      type="text"
                      class="form-control bg-light border-0"
                      placeholder="Tên"
                      style="height: 55px"
                    />
                  </div>
                  <div class="col-12">
                    <input
                      type="email"
                      class="form-control bg-light border-0"
                      placeholder="Email"
                      style="height: 55px"
                    />
                  </div>
                  <div class="col-12">
                    <textarea
                      class="form-control bg-light border-0"
                      rows="3"
                      placeholder="Message"
                    ></textarea>
                  </div>
                  <div class="col-12">
                    <button href="{% url 'token' %}" class="btn btn-dark w-100 py-3" type="submit">
                      Gửi
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Quote End -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container py-5">
        <div
          class="section-title text-center position-relative pb-3 mb-4 mx-auto"
          style="max-width: 600px"
        >
          <h3 class="fw-bold text-success text-uppercase">Khách hàng nói gì về dịch vụ của chúng tôi</h3>
        </div>
        <div
          class="owl-carousel testimonial-carousel wow fadeInUp"
          data-wow-delay="0.6s"
        >
          <div class="testimonial-item bg-light my-4">
            <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
              <img
                class="img-fluid rounded"
                src="{% static 'img/testimonial-1.jpg' %}"
                style="width: 60px; height: 60px"
              />
              <div class="ps-4">
                <h4 class="text-success mb-1">Nguyễn Thanh Hương</h4>
                <small class="text-uppercase"> Giám đốc điều hành công ty</small>
              </div>
            </div>
            <div class="pt-4 pb-5 px-5">
                Tôi rất ấn tượng với sản phẩm vứt rác thông minh của bạn. Nó giúp chúng tôi tối ưu hóa quy trình quản lý rác thải và giảm thiểu công sức cho nhân viên. Đội ngũ hỗ trợ của bạn cũng rất tận tâm và nhiệt tình trong việc tư vấn và triển khai hệ thống. Tôi rất hài lòng với dịch vụ của bạn!
            </div>
          </div>
          <div class="testimonial-item bg-light my-4">
            <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
              <img
                class="img-fluid rounded"
                src="{% static 'img/testimonial-2.jpg' %}"
                style="width: 60px; height: 60px"
              />
              <div class="ps-4">
                <h4 class="text-success mb-1">Trần Văn Hiếu</h4>
                <small class="text-uppercase">Chủ cửa hàng</small>
              </div>
            </div>
            <div class="pt-4 pb-5 px-5">
                Sản phẩm vứt rác thông minh đã giúp tôi tiết kiệm thời gian và công sức trong việc quản lý rác thải tại cửa hàng của mình. Tôi cũng rất ấn tượng với tính tin cậy và độ bền của hệ thống. Cảm ơn bạn đã mang đến cho tôi một giải pháp hiệu quả và hỗ trợ tốt sau bán hàng!
            </div>
          </div>
          <div class="testimonial-item bg-light my-4">
            <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
              <img
                class="img-fluid rounded"
                src="{% static 'img/testimonial-3.jpg' %}"
                style="width: 60px; height: 60px"
              />
              <div class="ps-4">
                <h4 class="text-success mb-1">Lê Thị Mai</h4>
                <small class="text-uppercase">Quản lý tòa nhà</small>
              </div>
            </div>
            <div class="pt-4 pb-5 px-5">
                Tôi đã sử dụng sản phẩm vứt rác thông minh của bạn trong tòa nhà và kết quả thật đáng ngạc nhiên. Nó giúp chúng tôi tăng hiệu suất thu gom rác và giảm thiểu mùi hôi trong khu vực chung. Đội ngũ kỹ thuật của bạn cũng đã cung cấp hỗ trợ kỹ thuật và bảo trì định kỳ một cách tuyệt vời. Tôi rất hài lòng và sẽ tiếp tục sử dụng sản phẩm của bạn trong tương lai.
            </div>
          </div>
          <div class="testimonial-item bg-light my-4">
            <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
              <img
                class="img-fluid rounded"
                src="{% static 'img/testimonial-4.jpg' %}"
                style="width: 60px; height: 60px"
              />
              <div class="ps-4">
                <h4 class="text-success mb-1">Ngô Văn Tùng</h4>
                <small class="text-uppercase">Quản lý cộng đồng</small>
              </div>
            </div>
            <div class="pt-4 pb-5 px-5">
                Sản phẩm vứt rác thông minh của bạn thật sự tuyệt vời! Nó không chỉ giúp chúng tôi giảm thiểu rác thải mà còn tạo ra một môi trường sạch hơn cho cư dân. Tôi cũng rất ấn tượng với tính dễ sử dụng và khả năng tương tác với người dùng. Chúng tôi nhận được sự hỗ trợ toàn diện từ đội ngũ của bạn và chắc chắn sẽ tiếp tục hợp tác lâu dài.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Team Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container py-5">
        <div
          class="section-title text-center position-relative pb-3 mb-5 mx-auto"
          style="max-width: 600px"
        >
          <h5 class="fw-bold text-success text-uppercase">Team Members</h5>
        </div>
        <div class="row g-5">
          <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
            <div class="team-item bg-light rounded overflow-hidden">
              <div class="team-img position-relative overflow-hidden">
                <img
                  class="img-fluid w-100"
                  src="{% static 'img/team-11.jpg' %}"
                  alt=""
                />
                <div class="team-social">
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-twitter fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-facebook-f fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-instagram fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-linkedin-in fw-normal"></i
                  ></a>
                </div>
              </div>
              <div class="text-center py-4">
                <h4 class="text-success">Nguyễn Trọng Hiếu</h4>
                <p class="text-uppercase m-0">AI Enginneer</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
            <div class="team-item bg-light rounded overflow-hidden">
              <div class="team-img position-relative overflow-hidden">
                <img
                  class="img-fluid w-100"
                  src="{% static 'img/team-21.jpg' %}"
                  alt=""
                />
                <div class="team-social">
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-twitter fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-facebook-f fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-instagram fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-linkedin-in fw-normal"></i
                  ></a>
                </div>
              </div>
              <div class="text-center py-4">
                <h4 class="text-success">Trương Minh Thống</h4>
                <p class="text-uppercase m-0">Leader</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
            <div class="team-item bg-light rounded overflow-hidden">
              <div class="team-img position-relative overflow-hidden">
                <img
                  class="img-fluid w-100"
                  src="{% static 'img/team-31.jpg' %}"
                  alt=""
                />
                <div class="team-social">
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-twitter fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-facebook-f fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-instagram fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-linkedin-in fw-normal"></i
                  ></a>
                </div>
              </div>
              <div class="text-center py-4">
                <h4 class="text-success">Trương Nguyễn Đăng Khương</h4>
                <p class="text-uppercase m-0">Designation</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
            <div class="team-item bg-light rounded overflow-hidden">
              <div class="team-img position-relative overflow-hidden">
                <img
                  class="img-fluid w-100"
                  src="{% static 'img/team-41.jpg' %}"
                  alt=""
                />
                <div class="team-social">
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-twitter fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-facebook-f fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-instagram fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-linkedin-in fw-normal"></i
                  ></a>
                </div>
              </div>
              <div class="text-center py-4">
                <h4 class="text-success">Thân Văn Việt</h4>
                <p class="text-uppercase m-0">Development</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
            <div class="team-item bg-light rounded overflow-hidden">
              <div class="team-img position-relative overflow-hidden">
                <img
                  class="img-fluid w-100"
                  src="{% static 'img/team-51.jpg' %}"
                  alt=""
                />
                <div class="team-social">
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-twitter fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-facebook-f fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-instagram fw-normal"></i
                  ></a>
                  <a
                    class="btn btn-lg btn-success btn-lg-square rounded"
                    href=""
                    ><i class="fab fa-linkedin-in fw-normal"></i
                  ></a>
                </div>
              </div>
              <div class="text-center py-4">
                <h4 class="text-success">Trần Nhật Vĩ</h4>
                <p class="text-uppercase m-0">Data Analyst</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team End -->
    {% endblock content %}
  </div>
</div>
