{% extends "navbar.html" %} {% load static %} {% block divheader %}
<div class="row py-5">
  <div class="col-12 pt-lg-5 mt-lg-5 text-center">
    <h1 class="display-4 text-white animated zoomIn">Tin Tức Mới</h1>
    <a href="{% url 'index' %}" class="h5 text-white">Trang Chủ</a>
    <i class="far fa-circle text-white px-2"></i>
    <a href="" class="h5 text-white">Tin Tức Mới</a>
  </div>
</div>
{% endblock divheader %} {% block content %}

<!-- Voucher Post Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div
        class="section-title text-center position-relative pb-3 mb-5 mx-auto"
        style="max-width: 600px"
      >
        <h5 class="fw-bold text-success text-uppercase">Tin Tức Mới</h5>
        <h1 class="mb-0">
          Tin tức về tác hại của rác thải đối với môi trường và cuộc sống
        </h1>
      </div>
      <!-- News list Start -->
      <div class="col-lg-8">
        <div class="row g-5">
          {% for new in object_list %}
          <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
            <div class="blog-item bg-light rounded overflow-hidden">
              <div class="blog-img position-relative overflow-hidden">
                <img class="img-fluid" src="{{new.author.Image.url}}" alt="" />
                <a
                  class="position-absolute top-0 start-0 bg-success text-white rounded-end mt-5 py-2 px-4"
                  href=""
                  >Thiết Kế Website</a
                >
              </div>
              <div class="p-4">
                <div class="d-flex mb-3">
                  <small class="me-3"
                    ><i class="far fa-user text-success me-2"></i
                    >{{new.author.Name}}</small
                  >
                  <small
                    ><i class="far fa-calendar-alt text-success me-2"></i
                    >{{new.Create}}</small
                  >
                </div>
                <h4 class="mb-3">{{new.title}}</h4>
                <p>{{new.body}}</p>
                <a class="text-uppercase" href=""
                  >Đọc Thêm<i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- News list End -->

      <!-- Sidebar Start -->
      <div class="col-lg-4">
        <!-- Search Form Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <div class="input-group">
            <input type="text" class="form-control p-3" placeholder="Từ Khoá" />
            <button class="btn btn-success px-4">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
        <!-- Search Form End -->

        <!-- Category Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">Thể Loại</h3>
          </div>
          <div class="link-animated d-flex flex-column justify-content-start">
            <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"
              ><i class="bi bi-arrow-right me-2"></i>Thiết Kế Website</a
            >
            <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"
              ><i class="bi bi-arrow-right me-2"></i>Phát Triển Website</a
            >
            <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"
              ><i class="bi bi-arrow-right me-2"></i>Tìm Kiếm Từ Khoá</a
            >
            <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"
              ><i class="bi bi-arrow-right me-2"></i>Thư Điện Tử Quảng Cáo</a
            >
          </div>
        </div>
        <!-- Category End -->

        <!-- Recent Post Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">Bài Đăng Gần Đây</h3>
          </div>
          <div class="d-flex rounded overflow-hidden mb-3">
            <img
              class="img-fluid"
              src="{% static 'img/blog-1.jpg' %}"
              style="width: 100px; height: 100px; object-fit: cover"
              alt=""
            />
            <a
              href=""
              class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0"
              >Lorem ipsum dolor sit amet adipis elit
            </a>
          </div>
        </div>
        <!-- Recent Post End -->

        <!-- Image Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <img
            src="{% static 'img/blog-1.jpg' %}"
            alt=""
            class="img-fluid rounded"
          />
        </div>
        <!-- Image End -->

        <!-- Tags Start -->
        <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">Thẻ Đám Mây</h3>
          </div>
          <div class="d-flex flex-wrap m-n1">
            <a href="" class="btn btn-light m-1">Thiết Kế</a>
            <a href="" class="btn btn-light m-1">Phát Triển</a>
            <a href="" class="btn btn-light m-1">Tiếp Thị</a>
            <a href="" class="btn btn-light m-1">SEO</a>
            <a href="" class="btn btn-light m-1">Tư Vấn</a>
          </div>
        </div>
        <!-- Tags End -->

        <!-- Plain Text Start -->
        <div class="wow slideInUp" data-wow-delay="0.1s">
          <div
            class="section-title section-title-sm position-relative pb-3 mb-4"
          >
            <h3 class="mb-0">Văn Bản</h3>
          </div>
          <div class="bg-light text-center" style="padding: 30px">
            <p>
              Vero sea et accusam justo dolor accusam lorem consetetur, dolores
              sit amet sit dolor clita kasd justo, diam accusam no sea ut tempor
              magna takimata, amet sit et diam dolor ipsum amet diam
            </p>
            <a href="" class="btn btn-success py-2 px-4">Đọc Thêm</a>
          </div>
        </div>
        <!-- Plain Text End -->
      </div>
      <!-- Sidebar End -->
    </div>
  </div>
</div>
<!-- Voucher Post End -->

{% endblock content %}
