{% extends "navbar.html" %} {% load static %} {% block divheader %}
<div class="row py-5">
  <div class="col-12 pt-lg-5 mt-lg-5 text-center">
    <h1 class="display-4 text-white animated zoomIn">Dịch Vụ</h1>
    <a href="{% url 'index' %}" class="h5 text-white">Trang Chủ</a>
    <i class="far fa-circle text-white px-2"></i>
    <a href="" class="h5 text-white">Dịch Vụ</a>
  </div>
</div>
{% endblock divheader %} {% block content %}

<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
      <div
        class="section-title text-center position-relative pb-3 mb-5 mx-auto"
        style="max-width: 600px"
      >
        <h5 class="fw-bold text-success text-uppercase">Dịch vụ của chúng tôi</h5>
        <h1 class="mb-0">
          Dịch vụ tùy chỉnh luôn sẵn lòng hỗ trợ giúp cho môi trường làm việc của bạn sạch hơn
        </h1>
      </div>
      <div class="row g-5">
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon">
              <i class="fa fa-shield-alt text-white"></i>
            </div>
            <h4 class="mb-3">Giải pháp hệ thống vứt rác thông minh</h4>
            <p class="m-0">
              Chúng tôi cung cấp các giải pháp toàn diện về hệ thống vứt rác thông minh cho các cơ quan, doanh nghiệp và cộng đồng
            </p>
            <a class="btn btn-lg btn-success rounded" href="">
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon">
              <i class="fa fa-search text-white"></i>
            </div>
            <h4 class="mb-3">Tư vấn và triển khai</h4>
            <p class="m-0">
              Đội ngũ chuyên gia của chúng tôi sẽ tư vấn và hỗ trợ khách hàng trong việc chọn lựa giải pháp vứt rác thông minh phù hợp với yêu cầu của họ
            </p>
            <a class="btn btn-lg btn-success rounded" href="">
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
          <div
            class="position-relative bg-success rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5"
          >
            <h3 class="text-white mb-3">Hỗ trợ kỹ thuật và bảo trì</h3>
            <p class="text-white mb-3">
              Chúng tôi cung cấp dịch vụ hỗ trợ kỹ thuật liên tục và bảo trì hệ thống vứt rác thông minh.
            </p>
            <h4 class="text-white mb-0">(+84) 919 56 21 82</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->

  {% endblock content %}
</div>
