{% extends "navbar.html" %} {% load static %} {% block divheader %}
<div class="row py-5">
  <div class="col-12 pt-lg-5 mt-lg-5 text-center">
    <h1 class="display-4 text-white animated zoomIn">Chi Tiết Voucher</h1>
    <a href="{% url 'index' %}" class="h5 text-white">Trang Chủ</a>
    <i class="far fa-circle text-white px-2"></i>
    <a href="" class="h5 text-white">Chi Tiết Voucher</a>
  </div>
</div>
{% endblock divheader %} {% block content %}

<!-- Voucher Detail Start -->

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <a class="btn btn-lg btn-success rounded" href="{% url 'voucher' %}">
    <i class="bi bi-arrow-left"></i>
  </a>
  <div class="container py-5">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-success" role="alert">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <h4 class="alert-heading" aria-hidden="true">{{ message }}</h4>
        <hr />
      </div>
    </div>
    {% endfor %} {% endif %}
    <div class="row g-5">
      <div class="section-title position-relative pb-3 mb-5 col-lg-7">
        <h5 class="fw-bold text-success text-uppercase">Chi Tiết Voucher</h5>
        <p>By: {{voucher.author.Name}} - {{voucher.author.pk}}</p>
      </div>

      <div class="col-lg-5">
        <h5 class="fw-bold text-success text-uppercase">
          Điểm Hiện Tại Của Bạn
        </h5>
        <h5 class="fw-bold text-success text-uppercase">
          {{user.customer.point}}
        </h5>
      </div>
      <div class="col-lg-7">
        <h1 class="mb-0">{{voucher.title}}</h1>

        <h5 class="">{{voucher.body}}</h5>
        <hr />
        <h4 class="">Point needed: {{voucher.NeededPoint}}</h4>

        {% if user.customer.point >= voucher.NeededPoint %}
        <form action="{% url 'buy_voucher' voucher.pk %}" method="POST">
          {% csrf_token %}
          <button
            type="submit"
            ,
            name="voucher_id"
            ,
            value="{{voucher.id}}"
            ,
            class="btn btn-success py-3 px-5 mt-3 wow zoomIn"
            data-wow-delay="0.9s"
          >
            Chuyển Đổi
          </button>
        </form>
        {% else %}
        <form action="{% url 'buy_voucher_fail' voucher.pk %}" method="POST">
          {% csrf_token %}
          <button
            type="submit"
            ,
            name="voucher_id"
            ,
            value="{{voucher.id}}"
            ,
            class="btn btn-dark py-3 px-5 mt-3 wow zoomIn"
            data-wow-delay="0.9s"
          >
            Chuyển Đổi
          </button>
        </form>
        {% endif %}
      </div>
      <div class="col-lg-5">
        <img
          src="{{voucher.author.Image.url}}"
          alt="avatar"
          class="position-absolute img-fluid rounded wow zoomIn"
          data-wow-delay="0.2s"
          style="width: 300px"
        />
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr />
  <div class="container py-5">
    <!-- Comment List Start -->
    <div class="mb-5">
      <div class="section-title section-title-sm position-relative pb-3 mb-4">
        <h3 class="mb-0">Comments...</h3>
      </div>
      {% if not voucher.comments.all %} Chưa Có Bình Luận Nào...
      <a href="{% url 'add_comment' voucher.pk %}">Thêm Đánh Giá</a>
      {% else %} {% for comment in voucher.comments.all %}
      <div class="d-flex mb-4">
        <img
          src="{{voucher.author.user.Customer.Image.url}}"
          class="img-fluid rounded"
          style="width: 45px; height: 45px"
        />
        <div class="ps-3">
          <h6>
            <a href="">{{comment.name.Name}} - {{conment.data_added}}</a>
            <small>{{conment.data_added}}</small>
          </h6>
          <p>{{comment.body}}</p>
          <button class="btn btn-sm btn-light">Phản hồi</button>
        </div>
      </div>

      {% endfor %}
      <br />

      <a href="{% url 'add_comment' voucher.pk %}" style="color: #198754"
        >Thêm Đánh Giá</a
      >
      <br /><br />
      {% endif %}
    </div>
    <!-- Comment List End -->
  </div>
</div>
<script>
  var point = "{{user.customer.point}}";
</script>
<!-- Voucher Detail End -->

{% endblock content %}
